<h4>¡AQUÍ ESTARÁ NUESTRO JUEGO!</h4>
<p>Nuestras frases disponibles son: </p>
<ul>
    <li *ngFor="let frase of frases">
        {{ frase.frase }}
    </li>
</ul>
<p>La frase seleccionada aleatoriamente para esta pantalla (en array) es:</p>
<p>{{ seleccionada.frase.split('') }}</p>
<p>Pista:</p>
<p>{{ seleccionada.pista_inicial }}</p>

<!--Carta (prueba bootstrap)-->
<div class="container-fluid">
  <div *ngFor="let char of seleccionada.frase.split('')" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ char }}</h5>
  </div>
</div>

<!--Interfaz de posición fija-->
<div class="container-fluid">
  <p>INTERFAZ</p>
  <p>PUNTOS INICIALES: {{ usuario.puntos_iniciales }} PUNTOS DISPONIBLES: {{ usuario.puntuacion }}</p>
  <div class="container-fluid">
    <div *ngFor="let vocal of vocales" class="card" style="width: 18rem;" (click)="comprarLetraVocal()">
      <div class="card-body">
        <h5 class="card-title">{{ vocal }}</h5>
    </div>
  </div>
  <div class="container-fluid">
    <div *ngFor="let consonante of consonantes" class="card" style="width: 18rem;" (click)="comprarLetraConsonante()">
      <div class="card-body">
        <h5 class="card-title">{{ consonante }}</h5>
    </div>
  </div>
  <button class="btn btn-danger" (click)="siguienteFrase()" *ngIf="usuario.puntuacion<=0">Saltar pregunta por falta de puntos</button>
  </div>
</div>

<!--PRUEBA FIN-->
<nav>
  <a  class="btn btn-info" [routerLink]="['/ranking/']"[queryParams]="{puntuacion: usuario.puntuacion }">Ir al ránking</a>
</nav>
