<h4>¡AQUÍ ESTARÁ NUESTRO JUEGO!</h4>
<p>Nuestras frases disponibles son: </p>
<ul>
    <li *ngFor="let frase of frases">
        {{ frase.frase }}
    </li>
</ul>
<p>La frase seleccionada aleatoriamente para esta pantalla (en array) es:</p>
<p>{{ seleccionada.frase.split('') }}</p>
<p>Pista:</p>
<p>{{ seleccionada.pista_inicial }}</p>

<!--Carta (prueba bootstrap)-->
<div class="container-fluid">
  <div *ngFor="let char of seleccionada.frase.split('')" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ char }}</h5>
  </div>
</div>

<!--Interfaz de posición fija-->
<div class="container-fluid">
  <p>INTERFAZ</p>
  <p>COMPRAR LETRA</p>
  <p>PUNTOS INICIALES: {{ usuario.puntos_iniciales }}</p>
  <p>PUNTOS DISPONIBLES: {{ usuario.puntuacion }} </p>
  <button class="btn btn-danger" (click)="siguienteFrase()" *ngIf="usuario.puntuacion<=0">Saltar pregunta por falta de puntos</button>
  <button class="btn btn-primary" (click)="comprarLetra()">Comprar letra</button>
</div>
